In [2]:
import pandas as pd
import numpy as np

### Series

In [4]:
labels = ['a','b','c']

minha_lista = [10,20,30]

arr = np.array([10,20,30])

d = {'a':10, 'b':20, 'c':30}

In [7]:
pd.Series(data=labels, index=minha_lista)
#pd.Series(labels, minha_lista)

10    a
20    b
30    c
dtype: object

In [9]:
ser1 = pd.Series([1,2,3,4], index = ['EUA', 'Alemanha', 'Rússia', 'Japão'])

In [11]:
ser2 = pd.Series([1,2,5,4], index = ['EUA', 'Alemanha', 'Rússia', 'Japão'])

In [14]:
ser1 + ser2

EUA         2
Alemanha    4
Rússia      8
Japão       8
dtype: int64

### DataFrames

In [15]:
from numpy.random import randn

In [16]:
df = pd.DataFrame(randn(5,4), index=["A", "B", "C", "D", "E"], columns="W X Y Z".split())

In [18]:
df

          W         X         Y         Z
A  0.510521 -0.450467 -0.830446 -0.618462
B  0.514086 -0.238645 -0.066646  1.393407
C -0.578903  0.649416  1.274636  0.058905
D -0.428126  0.848341 -0.542240 -2.487372
E -0.343188  0.138001 -0.256886  0.034532

In [22]:
df['W']

A    0.510521
B    0.514086
C   -0.578903
D   -0.428126
E   -0.343188
Name: W, dtype: float64

In [21]:
df[['W']]

          W
A  0.510521
B  0.514086
C -0.578903
D -0.428126
E -0.343188

- Criação de nova coluna

In [26]:
df["new"] = df['W'] + df['X']
df

          W         X         Y         Z       new
A  0.510521 -0.450467 -0.830446 -0.618462  0.060055
B  0.514086 -0.238645 -0.066646  1.393407  0.275440
C -0.578903  0.649416  1.274636  0.058905  0.070513
D -0.428126  0.848341 -0.542240 -2.487372  0.420215
E -0.343188  0.138001 -0.256886  0.034532 -0.205187

In [27]:
df.drop('new', axis=1)
#axis 1 =  colunas | axis 0 = linhas

          W         X         Y         Z
A  0.510521 -0.450467 -0.830446 -0.618462
B  0.514086 -0.238645 -0.066646  1.393407
C -0.578903  0.649416  1.274636  0.058905
D -0.428126  0.848341 -0.542240 -2.487372
E -0.343188  0.138001 -0.256886  0.034532

- Acessar linhas

In [29]:
df.loc[['A', 'B']]

          W         X         Y         Z       new
A  0.510521 -0.450467 -0.830446 -0.618462  0.060055
B  0.514086 -0.238645 -0.066646  1.393407  0.275440

- Acessar elementos

In [34]:
df.iloc[0,2]

-0.8304455673294646

### Índice

In [35]:
df.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [36]:
df.columns

Index(['W', 'X', 'Y', 'Z', 'new'], dtype='object')