### Entrada e Sa√≠da de Dados

In [8]:
import pandas as pd

In [14]:
df = pd.read_csv("exemplo.csv", sep=",", decimal=".")

In [15]:
df

          0         1         2         3
0 -0.394813 -0.694630  0.253393  0.602590
1 -2.134217  1.141381 -0.130142  0.690936
2 -0.223754  0.365133 -0.104233 -0.182788
3  0.108066  0.331332  0.053708 -0.280468
4  0.085290  0.740834 -0.596941  0.243950

In [16]:
df.to_csv("arquivo_exportado.csv", sep=",", decimal=".")